.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
.Rhistory
.RData
.RDataTmp*
.Rproj.user/
*.nb.html
*.html
*.Rproj
outputs/figures/*
outputs/tables/*
outputs/kinfitr/
!outputs/figures/surface_analysis/
!outputs/figures/surface_analysis/CMRglc/
!outputs/figures/surface_analysis/CMRglc/yeo_networks_with_labels.png
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep
config/paths.local.json
